body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: "helvetica Neue",sans-serif;
}

.box {
    width: 25vw;
    height: 75vh;
    border: 15px solid gray;
    border-radius: 10px;
    background-color: olivedrab;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.butts {
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
}

.operations {
    display: flex;
    width: 20vw;
    height: 8vh;
    justify-content: space-around;
}

.operation {
    width: 3.75vw;
    height: 4.5vh;
    margin: 0.75vh;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    width: 20vw;
    height: 32vh;
    justify-content: center;
}

.number {
    width: 5vw;
    height: 6vh;
    margin: 1vh;
}

#pH {
    background-color: olivedrab;
    border: solid olivedrab;
}

.display {
    width: 40vh;
    height: 10vh;
    background-color: gray;
    padding-left: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.functions {
    display: flex;
    width: 20vw;
    height: 8vh;
    justify-content: space-around;
}

.func {
    width: 5vw;
    height: 6vh;
    margin: 1vh;
}